.sugList {
    width: 260px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: fixed;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
}
.sugItem {
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}
.sugItem:hover {
    color: red;
}